# Local .terraform directories
**/.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Lock files
**/.terraform.lock.hcl

# Python
__pycache__/

# Python Environments & Cache
**/__pycache__/
**/venv/
**/.env

# Local Janitor Reports (Dynamically generated)
janitor/report.json
janitor/report.md